* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(226, 40%, 65%);
}

.calculator {
  background-color: white;
  padding: 20px 30px;
  border-radius: 5px;
  width: 500px;
  margin: 30px auto;
}

.calculator__result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator__btn {
  border: 1px solid rgb(151, 151, 238);
  background: transparent;
  padding: 10px;
  margin: 10px auto;
  display: block;
}

.calculator__textarea__result {
  margin: 10px auto 0px;
  width: 40%;
  min-height: 40px;
  resize: vertical;
  overflow: scroll;
  font-size: 1rem;
}

.calculator__operations {
  list-style: none;
}

.calculator__operation {
  padding: 10px 0px;  
}

.calculator__fields {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calculator__textarea {
  width: 40%;
  min-height: 40px;
  resize: vertical;
  overflow: scroll;
  font-size: 1rem;
}
